body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f2f5;
}
.topbar {
    background-color: #007BFF;
    padding: 10px;
}
.menu-btn {
    font-size: 28px;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    border: none;
    padding: 12px 16px;
    transition: 0.3s;
}
.menu-btn:hover {
    background-color: #0062cc;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #0056b3;
    overflow-x: hidden;
    transition: width 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
}
.sidebar-content {
    display: flex;
    -ms-flex-align: center;
    flex-direction: column;
}
.menu-btn-inside {
    display:grid;
    grid-area: auto;
    font-size: 32px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    padding: 15px 25px;
    text-align: left;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
}
.menu-btn-inside:hover{
    
    background-color: #00408a;
}
.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}
.sidebar a:hover {
    background-color: #00408a;
}
.sidebar a span.icon {
    margin-right: 10px;
    font-size: 20px;
    transform: scale(1.2);
}
.exit-btn {
    background: none;
    border: none;
    color: white;
    font-size: 21.6px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-bottom: 40px;
    align-self: flex-start;
    transition: color 0.3s;
}
.exit-btn span.icon {
    margin-right: 10px;
    font-size: 26px; 
    transform: scale(1.2);
}
.exit-btn:hover {
    color: #ffcccc;
}
.main {
    padding: 20px;
}